<li id="item-{{ item.id }}" class="grocery-item {% if item.checked %}checked{% endif %}" x-data="{ editing: false }"
  {% if oob_mode == "replace" %}hx-swap-oob="true"{% elif oob_mode == "insert" %}hx-swap-oob="beforeend:#category-{{ item.category_id }}-items"{% endif %}>
  <div class="item-row" x-show="!editing">
    <label class="item-label">
      <input type="checkbox" {% if item.checked %}checked{% endif %}
             hx-post="/grocery/items/{{ item.id }}/toggle" hx-target="this" hx-swap="none">
      <span class="item-name">{{ item.name }}</span>
      {% if item.quantity %}<span class="item-qty">({{ item.quantity }})</span>{% endif %}
    </label>
    <span class="item-meta">added by {{ item.added_by.display_name }}</span>
    <a href="#" class="item-edit" @click.prevent="editing = true">Edit</a>
    <a href="#" class="item-delete" hx-post="/grocery/items/{{ item.id }}/delete" hx-target="this" hx-swap="none">&times;</a>
  </div>
  <form class="item-edit-form" x-show="editing" x-cloak
        hx-post="/grocery/items/{{ item.id }}/update" hx-target="this" hx-swap="none">
    <input type="text" name="name" value="{{ item.name }}" required>
    <input type="text" name="quantity" value="{{ item.quantity or '' }}" placeholder="Qty" class="qty">
    <button type="submit">Save</button>
    <button type="button" @click="editing = false">Cancel</button>
  </form>
</li>
